{% extends "base.html" %}
{% block title_html %}
    {{ object }}
{% endblock %}

{% block article_content %}

<a href="{% url 'team_ics_file' team_code %}" class="btn btn-primary">
    <i class="fa fa-floppy-o"></i> Download .ics file
</a>

<a href="#" calendar_url="http://{{ request.META.HTTP_HOST }}{% url 'team_ics_file' team_code %}" id="copy_calendar_url" class="btn btn-primary">
    <i class="fa fa-clipboard"></i> Copy Calendar URL
</a>

<table class="table">
    <tr>
        <td>Date</td>
        <td>Location</td>
        <td>Home</td>
        <td>Away</td>
        <td>Result</td>
    </tr>

    {% for game in games %}
    <tr>
        <td>
            {{ game.datumString }} {{game.beginTijd}}
        </td>
        <td>
            {{ game.accNaam }}
        </td>
        <td>
            {{ game.tTNaam }}
        </td>
        <td>
            {{ game.tUNaam }}
        </td>
        <td>
            {{ game.uitslag }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
