{% extends "base.html" %}
{% block title_html %}
    {{ object }}
{% endblock %}

{% block article_content %}

<h1> {{ team }} </h1>

<a href="{% url 'team_ics_file' team_code %}" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Download .ics file</a>

<table class="table">
    <tr>
        <td>Date</td>
        <td>Home</td>
        <td>Away</td>
        <td>Location</td>
    </tr>

    {% for game in games %}
    <tr>
        <td>
            {{ game.datumString }}
        </td>
        <td>
            {{ game.teamThuisNaam }}
        </td>
        <td>
            {{ game.teamUitNaam }}
        </td>
        <td>
            {{ game.accommOmschr }}
        </td>

    </tr>
    {% endfor %}
</table>




{% endblock %}
